@import '../../styles/global.scss';

.container {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 50px;
}

.reverse {
    flex-direction: row-reverse;
    
    .imgSection {
        margin-right: 50px;
        margin-left: 0px;
    }
}

.imgSection {
    object-fit: contain;
    align-self: flex-start;
    width: 55%;
    margin-left: 60px;
}

.contentSection  {
    width: 35%;
    margin: 0px;
}

@include tablet {
    .reverse {
        flex-direction: initial;
    }

    .container {
        margin: 0;
        padding: 0 10px;
        flex-direction: column-reverse;
    }

    .imgSection {
        width: 100%;
        margin: 0 10px;
    }

    .contentSection {
        width: 100%;
        margin-bottom: 40px;
    }
}