//Colors
$black: #000;
$grey: #999;
$white: #fff;
$red: #e44b43;

//Fonts
.largeHeading {

}

.heading {
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

.subHeading {
  font-size: 28px;
  font-weight: 600;
}

.content {

}

.caption {
  
}

.link {
  color: $red;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

//screens
@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 500px) {
    @content;
  }
}