//Colors
$black: #000;
$grey: #999;
$white: #fff;
$red: #e44b43;

//Fonts
.large-heading {

}

.heading {

}

.sub-heading {

}

.content {

}

.caption {
  
}

.link {
  color: $red;
  text-decoration: none;
}

p {
  line-height: 1.6;
}

//screens
@mixin desktop {
  @media screen and (min-width: 1000px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (max-width: 1000px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin small {
  @media screen and (max-width: 500px) {
    @content;
  }
}

ul {
  list-style-type: none;
}