@import './global.scss';

.container {
    margin-top: 70px;
}

.stickyWrapper {
    display: flex;
    justify-content: space-between;
}

.contentWrapper {
    margin: 0 auto;
    margin-right: 20%;
}

@include phone {
    .contentWrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}