@import './global.scss';

.container {
    margin-top: 70px;
}

.contentWrapper {
    margin: 0 auto;
    margin-left: 20%;
    margin-right: 20%;
}

@include phone {
    .contentWrapper {
        margin-left: 10%;
        margin-right: 10%;
    }
}