@import './global.scss';

.container {
    margin: 0 auto;
    margin-top: 150px;
    margin-bottom: 100px;
    max-width: 1200px;
    justify-items: center;
    text-align: center;
}

.introContainer {
    margin: 0 23%;
    text-align: left;
    margin-bottom: 100px;
}

.workInfo {
    margin: 0 20%;
    text-align: left;
    margin-bottom: 100px;
}

.generalInfo {
    margin-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
}

.itemContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}

.projectBox {
    flex: 1;
    text-align: center;
    flex-basis: 30%;
    max-width: 450px;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

@include phone {
    .container {
        max-width: 100%;
    }

    .workInfo {
        margin: 0 10px;
    }

    .introContainer {
        margin: 0;
        padding: 0 10px;
    }

    .itemContainer {
        margin: 0 auto;
        max-width: 450px;
    }

    .projectBox {
        flex-basis: 100%;
        margin-left: 0;
        margin-right: 0;
    }
}